.drln{
  width:155px;  
}
.bank-alighnment{
  margin:10px;
}
.bank-from{
  position: relative;
}
.bank-details-alighnment{
  border:0;
}
.btn-green-paynow{
  background: #549426 !important;
  border-radius: 1.25rem !important;
}


.bg-black{
  background-color: #202023 !important ;
  
  }

.newRowShade{
      background-color: #31313a ;
      border-top: 2px solid #24262d;
}

.newRowShade-light{
  background-color: #dedede ;
  border-top: 2px solid #fff;
}
.text-black{
  color: #474d57 ;
}

.bg-light-identity-verify{
  background-color: #dedede ;

}
.form-control-light{
  color: #474d57;
  background-color: #dedede;
  border: none !important;
}

.form-control-light::-webkit-input-placeholder{ 
  color: #474d57;
  opacity: 1; 
}

.spanText-dark{
  color: #9ba7b2;
}

.spanText-light{
  color: #474d57;
}
.bg-dark{
  background-color: #24262d!important;
}
.bg-light-bankDetils{
  background-color: #dedede;
}