<div class="order-component p-2 pl-3 pr-3 rounded h-35" style="height: 861px;overflow: hidden;">

  <div class="orderBookDropdown">
    <ul class="nav navbar-nav">

      <li class="lidropdown orderbook-dropdown" style="position: relative;right: -20px;top: 10px;">
        <span class="dropdown" style="position: static;">
        <a href="javascript:void(0);" style="font-size: 15px;"
        [ngClass]="Themecolor == 'Dark' ? 'asset-font' : 'asset-font-light'" (click)="myFunction()" data-toggle="dropdown">{{this.assetPairName}} &nbsp;&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        <ul [ngClass]="Themecolor == 'Dark' ? 'dropdown-menu menu-stl' : 'dropdown-menu-light menu-stl'" role="menu" id="myDropdown">
  
          <div class="table-hight solid" id="asset-table">
           <!--  <button class="btn btn-dark font-xs filter-button asset-dtl-font btn-in" id="btc-btn"
              (click)="getNewCurrency('BTC')">BTC</button> 
            <button class="btn btn-dark font-xs filter-button asset-dtl-font btn-in" id="eth-btn" (click)="getNewCurrency('ETH')">ETH</button>
            <button class="btn btn-dark font-xs filter-button asset-dtl-font btn-in" id="hcx-btn" (click)="getNewCurrency('HCX')">HCX</button>
            <button class="btn btn-dark font-xs filter-button asset-dtl-font btn-in" id="usdt-btn" (click)="getNewCurrency('USDT')">USDT</button>
            <button class="btn btn-dark font-xs filter-button asset-dtl-font label-sz btn-in fiatcur" id="fiat-btn" (click)="getselectval()">FIAT</button> -->
            <button *ngFor="let c of header" class="btn  font-xs filter-button asset-dtl-font btn-in" [ngClass]="Themecolor == 'Dark' ? 'btc-btn-assetpair text-white' : 'btc-btn-light-assetpair text-black'" id="btc-btn" style="font-size: 18px !important;"
            (click)="getNewCurrency(c)">{{c}}</button>
      
            <!-- <span class="rap-select" >
               <label 
                class="btn btn-dark font-xs filter-button asset-dtl-font label-sz btn-in fiatcur" (click)="getselectval()">FIAT</label> -->
              <!--<select class="btn font-xs wrapselect"  id="selectval"
                (change)="getNewCurrency($event.target.value)">
                <option >ALL</option>
                <option>USD</option>
                <option>AED</option>
                <option>INR</option>
              </select>
            </span> -->
          
              <span class="filter-srch">
                <em class="em-serach"><i class="fa fa-search" aria-hidden="true"></i></em>
              <input type="input" placeholder="Search"
              [ngClass]="Themecolor == 'Dark' ? 'filterseacrh' : 'filterseacrh-light'"
               (keyup)="filterItem($event.target.value)" class="filterseacrh">
              </span>
         
            
            <div class="row table-ht">
              <table class="table table-sm table-chart">
                <thead>
                  <tr class="bg-black text-blue text-head"> 
                    <th scope="col" class="text-left" style="font-size: 16px;"> Pair</th>
                    <th scope="col" class="text-center" style="font-size: 16px;">Last Price</th>
                    <th scope="col" class="text-right" style="font-size: 16px;">ROC</th>
                    <th scope="col" class="text-right" style="font-size: 16px;">Volume</th>
                  </tr>
               </thead>
                <tbody id="trade-assetpair">
                  <tr *ngFor="let m of assetetpairback">
                    <td class="asset-dtl-font font-weight-bold" style="color:white;"
                      ><a  (click)="buySellCode(m)" [ngClass]="Themecolor == 'Dark' ? 'text-white asset-dtl-font text-center' : 'text-black asset-dtl-font text-center'" style="font-size: 16px;" href="javascript:void(0);"><img
                          src="{{data.ASSETICONBASEURL+ m.currencycode+'.png'}}" width="17" style="padding-right: 5px;"
                          alt="" />{{m.assetPairName}}</a></td>
                    <td class="text-white asset-dtl-font text-right" style="font-size: 16px;"><span style="color:beige;" *ngIf="m.lpricecolor==null">{{m.lasttrade1}}</span ><span style="color: #F5475D;" *ngIf="m.lpricecolor==false">{{m.lasttrade1}}</span><span style="color: rgb(112,168, 0)" *ngIf="m.lpricecolor==true">{{m.lasttrade1}}</span><span style="color:rgb(161, 161, 159);font-size: 10px;"> /</span><span style="color:rgb(161, 161, 159);" *ngIf="m.basecurrency=='INR'"> ₹ </span><span style="color:rgb(161, 161, 159);" *ngIf="m.basecurrency =='USD' || m.basecurrency=='USDT'"> $ </span><span style="color:rgb(161, 161, 159);">{{m.lasttrade2}} </span><span style="color:rgb(161, 161, 159);" *ngIf="m.basecurrency=='AED'"> د.إ</span></td>
                   
                    <td class="asset-dtl-font text-right roc-green" style="font-size: 16px;" *ngIf="m.RocColor == true">{{m.roc|number : '.2-2'}}</td>
                    <td class="asset-dtl-font text-right roc-red" style="font-size: 16px;" *ngIf="m.RocColor != true">{{m.roc|number : '.2-2'}}</td>
                    
                    <td [ngClass]="Themecolor == 'Dark' ? 'text-white asset-dtl-font text-right' : 'text-black asset-dtl-font text-right'"  style="font-size: 16px;">{{m.volume|number : '.2-2'}}</td>
                  </tr>
                </tbody>
  
                 </table>
  
  
            </div>
  
  
          </div>
        </ul>
      </span>
      </li>
      <li class="infoOrderBook" >
        <div class="icon-section pull-left">
          <i class="fa fa-info-circle" aria-hidden="true" (click)="data.handleInfoSection('orderbookInfo')" style="position:relative;"></i>
        </div>
        <div class="info-section" id="orderbookInfo" style="display: none;">
          <div class="info-header">
            <div class="info-title" style="font-size: 20px;"> Order Book</div>
            <div class="info-close">
              <i class="fa fa-times" aria-hidden="true" (click)="data.handleInfoSection('orderbookInfo')"></i>
            </div>
          </div>
          <div class="info-body" style="font-size: 17px;">
            Sell offers are displayed on top in red color, and Buy offers are displayed at the bottom in green color. The right side of the order book is displaying the current 50 trades that took place in the market in the last 24 hours.
          </div>
        </div>
      </li>
    </ul>
  </div>
  
 

  <div class="tab-pane fade show active" id="orderbook" role="tabpanel" aria-labelledby="orderbook-tab">
    <div class="row">
      <div class="col-md border-col order-gap">
        <div [ngClass]="Themecolor == 'Dark' ? 'order-id table-responsive' : 'order-id-light table-responsive'" >
          <div class="price-orderbook" style="padding-left: 8px;font-size: 15px;">Amount</div>
          <div class="price-orderbook1 text-center" style="padding-right: 20px;font-size: 15px;">Price</div>
          <div class="price-orderbook2" style="padding-top:3px;padding-right: 28px;font-size: 15px;">Total</div>
        </div>
        <div [ngClass]="Themecolor == 'Dark' ? 'cont tabe-responsive_left_sell' : 'cont tabe-responsive_left_sell_light'" style="height: 377px;overflow-y: scroll;overflow-x: auto;">
          <table class="table sell-orderbook table-sm" data-module="sticky-table">
            <thead>
              <tr class="bg-black text-blue">
              </tr>
            </thead>
            <tbody *ngIf="askdata !=''">
              <tr class="" *ngFor="let m of askdata;let i = index;" [ngClass]="m.newly==true?'bg-flash-red':''" (click)="data.fetchOrderPrice(getPrice(m))" style="cursor: pointer;">
                <td  style="font-family:'Montserrat',sans-serif;padding-right: 8px;font-size: 15px;" [ngClass]="Themecolor == 'Dark' ? '' : 'ticker-light'" class="text-right">{{(getAmount(m)*getPrice(m)).toFixed(tradep)}}</td>
                <td  style="font-family:'Montserrat',sans-serif;text-align: center;padding-left: 5px;color: #F5475D;font-size: 15px;" class="">{{getPrice(m)}}</td>
                <td  style="font-family:'Montserrat',sans-serif;padding-left: 8px;font-size: 15px;" [ngClass]="Themecolor == 'Dark' ? '' : 'ticker-light'" class="text-left">{{getAmount(m)}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="askdata ==''">
              <tr>
                <td>
                  No Data
                </td>

              </tr>
            </tbody>
          </table>
        </div>
     
        <div [ngClass]="Themecolor == 'Dark' ? 'sp-highlow' : 'sp-highlow-light'">
          <span style="color:#F1B900;" *ngIf="data.selectedSellingAssetText=='INR'"> ₹ </span><span style="color:#F1B900;" *ngIf="data.selectedSellingAssetText =='USD' || data.selectedSellingAssetText=='USDT'"> $ </span>
          <ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
          <span style="color:#F1B900;" *ngIf="data.selectedSellingAssetText=='AED'"> د.إ</span>
          <small class="font-sm ml-2" style="font-size:2px" id="pricegreen" style="display: none"><i
              class="fa fa-arrow-up" style="font-size:12px;color: #21CB80;">24H H: {{highprice}} </i>
             
          </small>

          <small class="font-sm ml-2" style="font-size:2px" id="pricered" style="display: none"><i
              class="fa fa-arrow-down" style="font-size:12px;color: #F5475D;">24H L: {{lowprice}} </i>
          </small>
          
        </div>
        <div style="height: 812px;overflow: hidden;">
        <div [ngClass]="Themecolor == 'Dark' ? 'table-responsive tabe-responsive_left_buy' : 'table-responsive tabe-responsive_left_buy_light'" style="height: 387px;overflow: auto;">

          <table class="table table-sm mb-4">
            <thead>
              <tr class="">

              </tr>
            </thead>
            <tbody>
              <tr class="" *ngFor="let m of biddata ;let i = index;" [ngClass]="m.newly==true?'bg-flash-green':''" (click)="data.fetchOrderPrice(getPrice(m))" style="cursor: pointer;">
                <td style="font-family:'Montserrat',sans-serif;padding-left: 8px;font-size: 15px;" [ngClass]="Themecolor == 'Dark' ? '' : 'ticker-light'" class="text-left">{{getAmount(m)}}</td>
                <td  style="font-family:'Montserrat',sans-serif; text-align: center;padding-left: 5px;color: #21CB80;font-size: 15px;" class="">{{getPrice(m)}}</td>
                <td  style="font-family:'Montserrat',sans-serif;padding-right: 8px;font-size: 15px;" [ngClass]="Themecolor == 'Dark' ? '' : 'ticker-light'" class="text-right">{{(getAmount(m)*getPrice(m)).toFixed(tradep)}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="biddata ==''">
              <tr>
                <td>
                  No Data
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

      </div>
      
    </div>
  </div>
</div>
<div class="w-100 mt-2"></div>