<div   class="" id="chartHolder">
  <div>
    <div class="row no-gutters">
      <div class="col-12 col-sm-12 col-md-5">
        <div ngbDropdown class=""> 
          <div  class="col-12 col-sm-12 col-md-12 font-sm text-green"
          style="border: 0px solid #F5475D; height:30px;">
          <div>
            <span class="float-left mt-2 ml-2 pl-2 plist" style="font-size:14px;color:rgb(153, 152, 152)">Last Price:

              <span *ngIf="data.ACTION == 'buy'; else buy_value">
                <ng2-odometer style="color:#F5475D;" else style="color:#21CB80;" [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer> <!-- / <span style="color:#f1b900;" *ngIf="this.data.selectedSellingAssetText=='INR'"> ₹ </span><span style="color:#f1b900;" *ngIf="this.data.selectedSellingAssetText =='USD' || this.data.selectedSellingAssetText=='USDT'"> $ </span>
                <ng2-odometer class="ctpdata-value" style="color:#F5475D;" else style="color:#f1b900;" [number]="data.ctpdata" [config]="{ format: '(,ddd).ddddd' }"></ng2-odometer><span style="color:#f1b900;" *ngIf="this.data.selectedSellingAssetText=='AED'"> د.إ</span> -->
             </span>
 
             <ng-template #buy_value>
               <ng2-odometer style="color:#21CB80;" else style="color:#F5475D;" [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer> <!-- / <span style="color:#f1b900;" *ngIf="this.data.selectedSellingAssetText=='INR'"> ₹ </span><span style="color:#f1b900;" *ngIf="this.data.selectedSellingAssetText =='USD' || this.data.selectedSellingAssetText=='USDT'"> $ </span>
               <ng2-odometer class="ctpdata-value" style="color:#F5475D;" else style="color:#f1b900;" [number]="data.ctpdata" [config]="{ format: '(,ddd).ddddd' }"></ng2-odometer><span style="color:#f1b900;" *ngIf="this.data.selectedSellingAssetText=='AED'"> د.إ</span> -->
             </ng-template>
             <span style="font-size: 14px;color:rgb(153, 152, 152)">&nbsp;&nbsp;MTM :</span>
            <!--  <small class="font-sm" *ngIf="data.isMarkPricePositive"
             style="color:rgb(4, 146, 28); font-size: 11px;">{{data.markprice}}</small> -->
             <small class="font-sm" 
             style=" font-size: 14px;"  [ngStyle]="{color : Themecolor == 'Dark' ? 'white' : '#818080'}">{{data.markprice | currency:'':''}}</small>
             <span  style="font-size: 14px;color:rgb(153, 152, 152)">&nbsp;&nbsp;Index :</span>
            <!--  <small class="font-sm" *ngIf="data.isIndexPricePositive"
             style="color:rgb(4, 146, 28); font-size: 11px;">{{data.indexprice}}</small> -->
             <small class="font-sm" 
             style=" font-size: 14px;" [ngStyle]="{color : Themecolor == 'Dark' ? 'white' : '#818080'}">{{data.indexprice | currency:'':''}}</small>
              <span style="margin-left: 2%" style="font-size: 14px;color:rgb(153, 152, 152)">&nbsp;&nbsp;24H ROC :</span>
              <small class="font-sm" *ngIf="data.negetive != true"
              style="color:#21CB80; font-size: 14px;">{{data.rocdata | currency:'':''}}%</small>
              <small class="font-sm ml-2" *ngIf="data.negetive  == true" style="color:#F5475D; font-size: 14px;">{{data.rocdata | currency:'':''}}%</small>
             
<!--               <small class="font-sm ml-2" *ngIf="data.negetive  == true" style="color:red; font-size: 2;">{{data.rocdata}}</small>
 -->            </span>
          </div>
          <p class="vasset-24h vasset" style="line-height: 36px;margin-left:30px; border: 0px solid blue; padding-top: 8px;">
            <span style="margin-left: 2%" style="font-size: 14px;color:rgb(153, 152, 152)">24H Volume:</span>
            <small class="font-sm ml-2" style="font-size: 14px;" [ngStyle]="{color : Themecolor == 'Dark' ? 'white' : '#818080'}">{{data.volumndata | currency:'':''}}</small>
          </p>
        </div>
        </div>
      </div>
    </div>
    <div class="w-100 mb-2"></div>
  </div>
</div>