.bitrump-body{background:#f2f2f2;padding:56px 0 0 0;position: static;left:0;right:0;top:0;bottom:0;min-height: 115%;font-family: system-ui !important;}
.bitrump-body .card-login{border:none;box-shadow:none;}
.bitrump-body .card-header{background:transparent;box-shadow:none;border:none;}
.bitrump-body .bittrmp-hedr{color: #383535;font-weight: 400;font-size: 16px;margin-top:30px;}
.bitrump-body .bittrmp-hedr a{color: #383535;}
.bitrump-body .card-header .bitrump-pro{background:#fff;border-radius:20px;padding:8px 100px;color:#333131;font-weight:700;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.01), 0px 0px 0px 0 rgba(0, 0, 0, 0.12);}
.card-login-body{background:#fff;margin-top:30px;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.02), 0px 0px 0px 0 rgba(0, 0, 0, 0.12);padding:50px 50px !important; border-radius:5px;font-family: system-ui !important;}
.card-login-body .nav-fill{display:none;}
.card-login-body .nav-link.active{border-bottom:none !important;}
.card-login-body .form-control:focus{box-shadow:none;}
.card-login-body .form-control{border:none !important;border-bottom:1px solid #ddd !important;background:#fff;color:#848e9c;padding-left:0;font-size:15px; font-family: system-ui !important;}
.card-login-body input::placeholder {font-weight:600; font-size:15px;color: #848e9c;opacity: 1; /* Firefox */}
.card-login-body input:-ms-input-placeholder {font-weight:600; font-size:15px;/* Internet Explorer 10-11 */color: #848e9c;}
.card-login-body input::-ms-input-placeholder { font-weight:600;font-size:15px; font-weight:600;/* Microsoft Edge */color: #848e9c;}
.card-login-body input:-webkit-autofill,.card-login-body input:-webkit-autofill:hover, .card-login-body input:-webkit-autofill:focus,.card-login-body input:-webkit-autofill:active{box-shadow: 0 0 0 30px #fff inset;
-webkit-text-fill-color: #848e9c!important;}
.card-login-body input:-moz-autofill,.card-login-body input:-moz-autofill:hover, .card-login-body input:-moz-autofill:focus,.card-login-body input:-moz-autofill:active{box-shadow: 0 0 0 30px #fff inset;
-moz-text-fill-color: #848e9c!important;}
.card-login-body .form-group{margin-bottom:2rem; font-family: system-ui !important;}
.card-login-body .login_btn{padding-top:8px !important;padding-bottom:8px !important;
background:#17aa9d;color:#212833;border-color:transparent;box-shadow:none;font-weight:600;}
.card-login-body .forgot-pswd a{font-size:14px;font-weight:600;color:#17aa9d; font-family: system-ui !important;}
.card-login-body .forgot-pswd{color:#333131;font-size:14px; font-family: system-ui !important;}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  .paybito-bitrump{
    position: static;
    margin-top: -56px;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #acb0b4 !important;
    opacity: 1; /* Firefox */
  }
  
  .leftPanel{
    /* background-color: #060632; */
    background-blend-mode: normal,overlay,overlay,normal,normal,normal,normal;
    background-image: linear-gradient(301deg,rgba(44,34,150,0),#833ede),linear-gradient(rgba(0,82,154,0.95),rgba(0,82,154,0.95)),linear-gradient(121deg,#271d2f,#3fcc6f),linear-gradient(238deg,rgba(173,32,142,0),#ad208e),linear-gradient(42deg,rgba(0,190,213,0),rgba(0,190,213,0.85) 85%,rgba(0,190,213,0.87) 87%,#00bed5),linear-gradient(126deg,rgba(0,190,213,0),#00bed5),linear-gradient(#594099,#594099);
  
  }
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 6px;
  }
  
  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  /*Change text in autofill textbox*/
  input:-webkit-autofill{
    -webkit-text-fill-color: #495057 !important;
  }
  
  .reg_icon{
    color: #d69e53;
    font-size: 50px;
  }
  
  .media{
    margin-left: 50px;
  }
  .media-body{
    padding-left: 27px;
    padding-top: 23px;
  }
  .media-heading{
    /* padding-left: 11px; */
    font-size: 11px;
    text-align: start;
  }
  
  hr.new1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #17a2b8;
    opacity: 1;
    margin-left: 34px;
    padding-left: -2px;
  }
  
  .iti.iti--allow-dropdown {
    width: 100% !important;
  }
  
  .navbar {
    background: #17a2b8;
    padding: 17px 0.6125rem;
  }

  button.navbar-toggler {
    display: none !important;
}

re-captcha.is-invalid > div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #e6e7e8 !important;
  border: 0px !important;
  background-clip: padding-box;
  outline: 0;
}

.sendCode{
  cursor: pointer;
  position: absolute;
  right: 23px;
  top: 78px;
}
.smsOtpSms{
  cursor: pointer;
  position: absolute;
  right: 23px;
  top: 64px;
}

.disableSpanClass{
  cursor: none;
  pointer-events: none;
}

.disableSecClass{
  cursor: none;
  pointer-events: none;
}


  
.extraPadding{
  padding-bottom: 34px;
}


  