/* .bitrump-body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
.navbar{
  padding: 30px;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
} */

.bitrump-body{background:#f2f2f2;padding:56px 0 0 0;position: static;left:0;right:0;top:0;bottom:0;min-height: 115%;font-family: system-ui !important;}
.bitrump-body .card-login{border:none;box-shadow:none;}
.bitrump-body .card-header{background:transparent;box-shadow:none;border:none;}
.bitrump-body .bittrmp-hedr{color: #383535;font-weight: 400;font-size: 16px;margin-top:30px;}
.bitrump-body .bittrmp-hedr a{color: #383535;}
.bitrump-body .card-header .bitrump-pro{background:#fff;border-radius:20px;padding:8px 100px;color:#333131;font-weight:700;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.01), 0px 0px 0px 0 rgba(0, 0, 0, 0.12);}
.card-login-body{background:#fff;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.02), 0px 0px 0px 0 rgba(0, 0, 0, 0.12);padding:50px 50px !important; border-radius:5px;font-family: system-ui !important;}
.card-login-body .nav-fill{display:none;}
.card-login-body .nav-link.active{border-bottom:none !important;}
.card-login-body .form-control:focus{box-shadow:none;}
.card-login-body .form-control{border:none !important;border-bottom:1px solid #ddd !important;background:#fff;color:#848e9c;padding-left:0;font-size:15px; font-family: system-ui !important;}
.card-login-body input::placeholder {font-weight:600; font-size:15px;color: #848e9c;opacity: 1; /* Firefox */}
.card-login-body input:-ms-input-placeholder {font-weight:600; font-size:15px;/* Internet Explorer 10-11 */color: #848e9c;}
.card-login-body input::-ms-input-placeholder { font-weight:600;font-size:15px; font-weight:600;/* Microsoft Edge */color: #848e9c;}
.card-login-body input:-webkit-autofill,.card-login-body input:-webkit-autofill:hover, .card-login-body input:-webkit-autofill:focus,.card-login-body input:-webkit-autofill:active{box-shadow: 0 0 0 30px #fff inset;
-webkit-text-fill-color: #848e9c!important;}
.card-login-body input:-moz-autofill,.card-login-body input:-moz-autofill:hover, .card-login-body input:-moz-autofill:focus,.card-login-body input:-moz-autofill:active{box-shadow: 0 0 0 30px #fff inset;
-moz-text-fill-color: #848e9c!important;}
.card-login-body .form-group{margin-bottom:2rem; font-family: system-ui !important;}
.card-login-body .login_btn{padding-top:8px !important;padding-bottom:8px !important;
background:#17aa9d;color:#212833;border-color:transparent;box-shadow:none;font-weight:600;}
.card-login-body .forgot-pswd a{font-size:14px;font-weight:600;color:#17aa9d; font-family: system-ui !important;}
.card-login-body .forgot-pswd{color:#333131;font-size:14px; font-family: system-ui !important;}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  .paybito-bitrump{
    position: static;
    margin-top: -56px;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #acb0b4 !important;
    opacity: 1; /* Firefox */
  }
  
  .leftPanel{
    /* background-color: #060632; */
    background-blend-mode: normal,overlay,overlay,normal,normal,normal,normal;
    background-image: linear-gradient(301deg,rgba(44,34,150,0),#833ede),linear-gradient(rgba(0,82,154,0.95),rgba(0,82,154,0.95)),linear-gradient(121deg,#271d2f,#3fcc6f),linear-gradient(238deg,rgba(173,32,142,0),#ad208e),linear-gradient(42deg,rgba(0,190,213,0),rgba(0,190,213,0.85) 85%,rgba(0,190,213,0.87) 87%,#00bed5),linear-gradient(126deg,rgba(0,190,213,0),#00bed5),linear-gradient(#594099,#594099);
  
  }
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    margin-right: 6px;
  }
  
  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  /*Change text in autofill textbox*/
  input:-webkit-autofill{
    -webkit-text-fill-color: #495057 !important;
  }
  
  .reg_icon{
    color: #d69e53;
    font-size: 50px;
  }
  
  .media{
    margin-left: 50px;
  }
  .media-body{
    padding-left: 27px;
    padding-top: 23px;
  }
  .media-heading{
    /* padding-left: 11px; */
    font-size: 11px;
    text-align: start;
  }
  
  hr.new1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #17a2b8;
    opacity: 1;
    margin-left: 34px;
    padding-left: -2px;
  }
  
  .iti.iti--allow-dropdown {
    width: 100% !important;
  }
  
  .navbar {
    background: #4250CD;
    padding: 30px 0.6125rem;
  }

  button.navbar-toggler {
    display: none !important;
} 

re-captcha.is-invalid > div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #e6e7e8 !important;
  border: 0px !important;
  background-clip: padding-box;
  outline: 0;
}

.sendCode{
  /* cursor: pointer;
  position: absolute;
  right: 23px;
  top: 78px; */
  cursor: pointer;
  float: right;
  margin-left: -25px;
  margin-top: -29px;
  position: relative;
  z-index: 2;
  margin-right: 6px;
}


.smsOtpSms{
  cursor: pointer;
  position: absolute;
  right: 23px;
  top: 64px;
}

.disableSpanClass{
  cursor: none;
  pointer-events: none;
}
.limiter{width: 100%;margin: 0 auto}.container-login100{width: 100%;min-height: 100vh;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;padding: 15px;background-repeat: no-repeat;background-position: center;background-size: cover;position: relative;z-index: 1}.container-login100::before{content: "";display: block;position: absolute;z-index: -1;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0,0,0,0.80)}.login_topimg{border-top-left-radius: 5px;border-top-right-radius: 5px;width: 100%;min-height: 185px;position: relative;background:#91B3D1 url(https://image.freepik.com/free-vector/cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37330.jpg) no-repeat;background-size: auto;background-position: center}.login_topimg img{width:100%;height: auto}.login_topimg .logo_wrap{border-radius: 5px;background: #fff;padding: 13px 55px;position: relative;top: -21px;margin: 10px auto;max-width: 255px}#login .wrap-login100{background-color: #fff;padding: 20px 45px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;width: 100%}.login100-form{width: 100%;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;justify-content: space-between;flex-wrap: wrap}.login100-form-title{font-size: 25px;color: #243762;line-height: 1.2;text-transform: uppercase;text-align: center;width: 100%;display: block}.login100-form-subtitle{font-size: 16px;color: #243762;line-height: 1.2;text-align: center;width: 100%;display: block}.wrap-input100{position: relative;width: 100%;z-index: 1}#login input{outline: none;border: none}#login label{display: inline-block;margin-bottom: .5rem}.input-checkbox100{display: none}input{outline: none;border: none}.wrap-input100{position: relative;width: 100%;z-index: 1}.input100{font-size: 15px;line-height: 1.2;color: #686868;display: block;width: 100%;background: #e6e6e6;height: 45px;border-radius: 3px;padding: 0 30px 0 55px}.focus-input100{display: block;position: absolute;border-radius: 3px;bottom: 0;left: 0;z-index: -1;width: 100%;height: 100%;box-shadow: 0px 0px 0px 0px;color: rgba(211,63,141, 0.6)}.symbol-input100{font-size: 15px;color: #999999;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;align-items: center;position: absolute;border-radius: 25px;bottom: 0;left: 0;width: 100%;height: 100%;padding-left: 23px;padding-bottom: 5px;pointer-events: none;-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;transition: all 0.4s}::-webkit-input-placeholder{opacity: 1;-webkit-transition: opacity .5s;transition: opacity .5s}:-moz-placeholder{opacity: 1;-moz-transition: opacity .5s;transition: opacity .5s}::-moz-placeholder{opacity: 1;-moz-transition: opacity .5s;transition: opacity .5s}:-ms-input-placeholder{opacity: 1;-ms-transition: opacity .5s;transition: opacity .5s}::placeholder{opacity: 1;transition: opacity .5s}*:focus::-webkit-input-placeholder{opacity: 0}*:focus:-moz-placeholder{opacity: 0}*:focus::-moz-placeholder{opacity: 0}*:focus:-ms-input-placeholder{opacity: 0}*:focus::placeholder{opacity: 0}.lnr{speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale}.flex-sb-m{display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;justify-content: space-between;-ms-align-items: center;align-items: center}.w-full{width: 100%}.p-b-30{padding-bottom: 30px}.input-checkbox100:checked + .label-checkbox100::before{color: #09569B}.label-checkbox100::before{content: "\f00c";font-family: FontAwesome;font-size: 13px;color: transparent;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;justify-content: center;align-items: center;position: absolute;width: 18px;height: 18px;border-radius: 2px;background: #fff;border: 1px solid #e6e6e6;left: 0;top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%)}.label-checkbox100{font-size: 14px;font-weight: normal;color: #999999;line-height: 1.2;display: block;position: relative;padding-left: 26px;cursor: pointer}.m-b-16{margin-bottom: 16px}.p-b-55{padding-bottom: 55px}.container-login100-form-btn{width: 100%;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;flex-wrap: wrap;justify-content: center}.login100-form-btn:hover{background: #333333}.label-checkbox100::before{content: "\f00c";font-family: FontAwesome;font-size: 13px;color: transparent;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;justify-content: center;align-items: center;position: absolute;width: 18px;height: 18px;border-radius: 3px;background: #fff;border: 2px solid #09569B;left: 0;top: 48%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%)}#login button:hover{cursor: pointer}.login100-form-btn{font-size: 16px;line-height: 1.5;color: #fff;text-transform: uppercase;width: 100%;height: 45px;border-radius: 3px;background: #09569B;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;justify-content: center;align-items: center;padding: 0 25px;-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;transition: all 0.4s}#login button{outline: none !important;border: none}@media (max-width: 768px){.container{width: 750px}#login .wrap-login100{padding: 27px}.login_topimg .logo_wrap{padding: 5px 55px}}