<!-- <app-navbar></app-navbar> -->
<app-navbar (themeChanged)="themeChangedHandler($event)"></app-navbar>

<div class="content-wrapper pt-0 pl-3" >

  <div class="container-fluid" data-ng-controller="profileCtrl" data-ng-init="loginDuration();">
    <div class="row d-flex">

      <div class="col-12 col-md-12 mt-3">
        <div class=" p-2 pr-3 rounded align-self-stretch h-100" [ngClass]="Themecolor == 'Dark' ? 'bg-dark' : 'bg-light'">
          <div class="w-100 mt-2"></div>

          <div class="row">
            <div class=" col-md-6 col-sm-12">

              <div class="card">
               <div class="d-flex justify-content-between">
                  <div class="d-flex flex-column">
                    <div class="p-2"><span class="traderLabel">Trader Name</span> 
                      <span><h5>{{traderDetails.traderName}}</h5></span>
                    </div>
                    <div class="p-2"><span class="traderLabel">Followers</span> &nbsp;&nbsp; <span class="traderValue">{{traderDetails.followers}}</span></div>
                    <div class="p-2"><span class="traderLabel">Market</span> &nbsp;&nbsp; <span class="traderValue">{{traderDetails.market}}</span></div>
                    <div class="p-2"><span class="traderLabel">Minimum Capital Requirement</span>&nbsp;&nbsp;<span class="traderValue">USDT {{traderDetails.minimumCapitalRequirement}}</span></div>

                  </div>
                  <!-- <div class="traderProfileImage">
                    <button class="imgBtn btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="70"
                      width="70" /></button>
                  </div> -->
                </div>

              </div>

              <!-- <button class="btn btn-primary" style="margin-top: 5px;" [disabled]="traderRole != 'copyTrader' || traderDetails.allowCopyTrading == '0'" (click)="openSubscriptionInfoModal(subscription,traderDetails.minimumCapitalRequirement)">Follow Bot</button> -->

              <button class="btn btn-primary" style="margin-top: 5px;" *ngIf="traderDetails.isFollowed == '2'" [disabled]="traderRole != 'copyTrader' || traderDetails.allowCopyTrading == '0'" (click)="openSubscriptionInfoModal(subscription,traderDetails.minimumCapitalRequirement)">Follow Bot</button>
              <button disabled class="btn btn-primary" style="margin-top: 5px;" *ngIf="traderDetails.isFollowed == '1'">Following</button>

            </div>
            <div class="col-md-6 col-sm-12">

              <div class="card">

                <div class="table-responsive-sm paddingforMobile" >
            

           
                  <table class="table table-sm table-hover">
                    <thead>
                      <tr  [ngClass]="Themecolor == 'Dark' ? 'bg-black text-white' : 'tableHeader-bg-light'">
                        <th  scope="col" [ngClass]="Themecolor == 'Dark' ? 'text-white' : 'text-black'"  class="" style="font-size:16px"></th>
                        <th scope="col" [ngClass]="Themecolor == 'Dark' ? 'text-white' : 'text-black'"  class="" style="font-size:16px">All Time</th>
                        <th scope="col" [ngClass]="Themecolor == 'Dark' ? 'text-white' : 'text-black'"  class="" style="font-size:16px">Month</th>
                        <th scope="col" [ngClass]="Themecolor == 'Dark' ? 'text-white' : 'text-black'"  class="" style="font-size:16px">Week</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr [ngClass]="Themecolor == 'Dark' ? 'newRowShade' : 'newRowShade-light'">
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white' : 'text-black'"  class="extraPaddingTop">P/L</td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop"> {{traderDetails.pnlOfAllTime}}</td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop"> {{traderDetails.pnlOfMonth}}</td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop"> {{traderDetails.pnlOfWeek}}</td>
                      </tr>

                      <tr [ngClass]="Themecolor == 'Dark' ? 'newRowShade' : 'newRowShade-light'">
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white' : 'text-black'"  class="extraPaddingTop">Volume</td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop">{{traderDetails.volOfAllTime}} </td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop">{{traderDetails.volOfMonth}} </td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop">{{traderDetails.volOfWeek}} </td>
                      </tr>

                      <tr [ngClass]="Themecolor == 'Dark' ? 'newRowShade' : 'newRowShade-light'">
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white' : 'text-black'"  class="extraPaddingTop">Number Of Trades</td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop">{{traderDetails.numOfTradesOfAllTime}}</td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop">{{traderDetails.numOfTradesOfMonth}}</td>
                        <td [ngClass]="Themecolor == 'Dark' ? 'text-white smallFont' : 'text-black smallFont'"  class="extraPaddingTop">{{traderDetails.numOfTradesOfWeek}}</td>
                      </tr>
                      </tbody>
                      </table>

              </div>

            </div>

          </div>

          

          


        

          
          
        </div>
      </div>



         
      
      
    </div>
  </div>

  <ng-template #subscription let-modal>
    <div id="myDiv" [ngClass]="Themecolor == 'Dark' ? '' : 'lightTheme'">
    <div [ngClass]="Themecolor == 'Dark' ? '' : 'lightTheme'" class="modal-header sendreceive-wallet">
      <h4 class="modal-title" id="modal-basic-title receiveModalLabel">Subscription info</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div [ngClass]="Themecolor == 'Dark' ? '' : 'lightThemeModalBody'" class="modal-body">

      
<form>
 
 
  <div class="form-group">
    <label >Price:</label>
   
    <input type="text" class="form-control" value="{{subscriptionPrice}} USDT/mo"  name="price" readonly>
  </div>
  <div class="form-group">
    <label >Period: </label>
    <input type="text" class="form-control" value="30 days" name="period" readonly >
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="subscribe()">SubScribe</button>
</form>
      
      </div>
    </div>
  </ng-template>

 
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center"> <small>Copyright © Paybito 2019</small> </div>
    </div>
  </footer>
  <a class="scroll-to-top rounded" href="#page-top"> <i class="fa fa-angle-up"></i> </a>
</div>
