
.up-space{
    margin-top: 49px;
}
.container-fluid {
  
    padding-left: 1px;
   
}
/* .px-3 {
    
    padding-left: 1rem !important;
} */
.pr-3, .px-3 {
   
    padding-left: 1rem !important;
}
.bg-black{
    background-color: #202023 !important ;
    
    }

.newRowShade{
        background-color: #31313a ;
        border-top: 2px solid #24262d;
}

.newRowShade-light{
    background-color: #dedede ;
    border-top: 2px solid #fff;
}
.text-black{
    color: #474d57 ;
}