
<app-navbar (themeChanged)="themeChangedHandler($event)" (connectionData)="connectionChangedHandler($event)"></app-navbar>
<div class="content-wrapper pt-0 dashboardContent" id="dashboardContent">
  <div class="container-fluid left-container_fluid">
    <div class="row">
      
      <div class="col-md-5">

      </div>
      <div class="col-md-5">
        <div class="col text-right btnwrapper">
          <app-derivative-chart class="dpr"></app-derivative-chart>


        </div>

      </div>
      <div class="col-md-2">
        <div class="col text-right btnwrapper">
          <span class="btngrpinr" style="display: none;">
          <button class="btn btn-primary btn-sm day-light-btn widget screen-col" id="night" style="display:none;z-index: 99;"
           (click)="changebg(false)"><img src="../../assets/Moon_emoji_icon_png_grande.png" width="20"
             alt="Snow"></button>
         <button class="btn btn-primary btn-sm day-light-btn widget screen-col" id="light" style="display:block;z-index: 99;"
           (click)="changebg(true)"><img src="../../assets/sun_PNG13426.png" width="20" alt="Snow"></button>
 
        
       </span>
       </div>
      </div>
      
    </div>
    <div style="min-height: 600px;height:700px; width: 100%;">
      <div class="row d-flex order_row_ml">
        <div class="col-md-2 col_md_7_new order-align">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-12 pr-xl-0 mt-1 align-self-stretch dchart"  *ngIf="chart" style="z-index: 21;">
              
              <app-derivative-orderbook [Themecolor]="Themecolor" (tradeBookData)="tradeBookDataHandler($event)" (bidDataOutput)="bidDataHandler($event)"></app-derivative-orderbook>

            </div>
          </div>
        </div>
        <div class="col-md-8 ordercol-md-5  chart-align">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-12 mt-1 chartDiv"  *ngIf="orderbook" style="" >
              <div class="d-flex flex-row bd-highlight mb-3" [ngClass]="Themecolor == 'Dark' ? 'toggleButon' : 'toggleButtonLite'">
                <div class="p-2 bd-highlight">
                  <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-dark" [ngClass]="chartselector == true ? 'activeButton' : ''"  (click)="toggleChart(true)" >Price</button>
                  <button type="button" class="btn btn-dark" [ngClass]="chartselector == false ? 'activeButton' : ''" (click)="toggleChart(false)">Depth</button>
                </div>
              </div>
              </div>
              <app-derivative-depth-chart  [askBidDataInputstrm]="bidDataInput"   [ngClass]="chartselector == false ? 'chartoff' : 'charton'"></app-derivative-depth-chart>
            
              <app-derivative-tvchartcontainer [Themecolor]="Themecolor" [ngClass]="chartselector == true ? 'chartoff' : 'charton'"></app-derivative-tvchartcontainer>
              
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-12" 
              *ngIf="stoploss" style="margin-top: 3px; z-index: 9;">
              <app-derivative-stoploss [Themecolor]="Themecolor"></app-derivative-stoploss>

            </div>
          </div>
        </div>
        <div class="col-md-2 ordercol-md-5 order-align" >
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-12 mt-1"  *ngIf="orderbook" >
              <app-derivative-trade-book [Themecolor]="Themecolor" [marketTradeRecords]="tradeBookDataInput" ></app-derivative-trade-book>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/> -->
    <div class="row d-flex order_row_ml" style="margin-top: 230px;">
      <div class="col-xl-12 col-lg-12 col-12 pr-xl-0"  *ngIf="trade" style="margin-top: -7px;">
        <app-derivative-trade [Themecolor]="Themecolor"></app-derivative-trade>
      </div>
      
    </div>
    <br/>
    <br/>

    <div class="row footerRow">
      <span style="color: #21CB80;" *ngIf="!stableConnectionData"><i class="fa fa-signal" aria-hidden="true"></i>   Stable Connection</span>
      <span style="color: #F5475D;" *ngIf="stableConnectionData"><i class="fa fa-signal" aria-hidden="true"></i>   Not Connected</span>



    </div>
  </div>
</div>



