@keyframes invalid {
    from { background-color: red; }
    to { background-color: inherit; }
  }
  .invalid {
    -webkit-animation: invalid 1s infinite; /* Safari 4+ */
    -moz-animation:    invalid 1s infinite; /* Fx 5+ */
    -o-animation:      invalid 1s infinite; /* Opera 12+ */
    animation:         invalid 1s infinite; /* IE 10+ */
  }
  .resizable-widget{
    /* border:1px solid #131722; */
    border: none !important;
    min-height: 286px !important;
    overflow: hidden;
   
}
.resizable-widget{min-height:auto;height:340px !important;}
.scrollable {
  max-height: 17em!important;
}
@media (max-width:767px){
  .table{
width: 600px;
  }
}

.trade-component{
  /* background: #181d2b!important; */
  background: rgb(19, 23, 34);
}
.fee_btn{
  position: absolute;
  right: 32px;
  top: 10px;
  cursor: pointer;
}
#myTradeBody{
  font-size: 14px !important;
  /* font-family: 'Roboto' !important; */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #007bff !important;
  background-color: transparent;
  /* border-bottom: 1px solid #0f6fdd !important; */
}
th,thead{
  /* background: transparent; */
  /* background-color: #14223d !important;
  border: none; */
  font-size: 16px;
}

.info-section {
  position: absolute;
  top: 66px;
  text-align: justify;
  background: #273338;
  color: #fff;
  z-index: 1050;
  width: 487px;
  right: 0;
  left: -101px;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}
.info-sectionOffer {
  position: absolute;
  top: 66px;
  text-align: justify;
  background: #273338;
  color: #fff;
  z-index: 1050;
  width: 487px;
  right: 0;
  left: -101px;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}
.info-section-trade{
  position: absolute;
  top: 66px;
  text-align: justify;
  background: #273338;
  color: #fff;
  z-index: 1050;
  width: 487px;
  right: 0;
  left: -101px;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}

@media only screen and (max-width: 600px) {
.info-section {
  position: absolute;
  top: 66px;
  text-align: justify;
  background: #273338;
  color: #fff;
  z-index: 1050;
  width: 487px;
  /* right: -186px; */
  left: -448px !important;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}
.info-sectionOffer {
  position: absolute;
  top: 66px;
  text-align: justify;
  background: #273338;
  color: #fff;
  z-index: 1050;
  width: 487px;
  left: -179px !important;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}
.info-section-trade {
  position: absolute;
  top: 66px;
  text-align: justify;
  background: #273338;
  color: #fff;
  z-index: 1050;
  width: 487px;
  right: 0;
  left: -127px !important;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}

}




