.resizable-widget {
    min-height: 310px !important;
  }
  .nav-tabs .nav-item {
    margin-right: 103px;
  }
  .order-component{
    /* background: #181d2b!important; */
    background: rgb(19, 23, 34);
  }
  
  .vl {
    border-left: 2px solid rgb(193, 204, 193);
    height: 100%;
  }
  .pb-3,
  .py-3 {
    padding-bottom: 0rem !important;
  }
  .resizable-widget {
    font-size: 12px !important;
    margin-top: 16px;
    height: 822px;

  }
  .nav-tabs[_ngcontent-c6][_ngcontent-c6]
    .nav-item[_ngcontent-c6][_ngcontent-c6] {
    margin-right: 102px;
  }
  .text-blue {
    text-align: center;
  }
  td.text-white {
    background: transparent;
  }
  .resizable-widget {
    text-align: right;
    overflow: hidden;
  }
  .text-red {
    color: #f5475d !important;
  }
  .border-col {
    /* border-right: 2px solid rgb(8, 56, 2); */
  }
  .resizable-widget {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    /* border: 1px solid #131722; */
    border: none !important;
    min-height: 286px !important;
    height: 822px !important;
    margin-top: 16px;
  }
  .tab-pane {
    padding-top: 0px;
    padding-bottom: 0px !important;
  }
  .sp-highlow {
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    position: relative;
    top: -4px;
    background: #273338 !important;
    padding: 5px 2px;
    margin-right: 8px;
    border-radius: 2px;
    width:100%;

  }
  .sp-highlow small.font-sm.ml-3 {
    display: block;
    width: 100%;
    margin: 0 !important;
  }
  .tabe-responsive_right {
    overflow-y: scroll;
  }
  .order-gap {
    padding-right: 5px;
  }
  .resizable-widget {
    min-height: auto;
    height: 470px;
  }
  .select-coin-list.show {
    width: 215% !important;
  }
  .cont {
    overflow-x: hidden;
    transform: rotate(180deg);
    direction: rtl;
    text-align: right;
  }
  .sell-orderbook {
    overflow: hidden;
    transform: rotate(180deg);
    margin-bottom: 0rem !important;
  }
  th.toal-price {
    position: sticky;
    top: 0;
  }
  th.orderbook-price {
    position: sticky;
    top: 0;
  }
  th.mount-orderbook {
    position: sticky;
    top: 0;
  }
  .price-orderbook {
    display: inline-block;
    padding: 2px;
  }
  .price-orderbook1 {
    display: inline-block;
    padding: 2px;
  }
  .price-orderbook2 {
    display: inline-block;
   padding-right: 25px;
  }
  .order-id {
    display: flex;
    justify-content: space-between;
    background-color: #273338;
    color: rgb(211, 221, 221);
    width: 100%;
  }
  .table-hight {
    padding-left: 15px;
    padding-right: 15px;
  }
  .asset-font {
    font-size: 13px;
    color: white;
  }
  
  .menu-stl {
    border-style: solid !important;
    /* border-color: #1d3031 !important; */
    border-width: 2px !important;
  }
  .navbar-nav .dropdown-menu {
    padding-top: 2px;
  }
  .asset-dtl-font {
    font-size: 11px;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    width: 250% !important;
    background-color: #22252e;
    border-color: #22252e;

  }
  .header-fnt {
    font-size: 3px !important;
  }
  .text-head th {
    /* border: 1px solid #000; */
    color: rgb(177, 175, 175) !important;
    padding: 5px !important;
    font-size: 12px;
    background: #273338 !important;

  }
  .box-wid {
    width: 105px;
  }
  .box-wid1 {
    width: 150px;
  }
  .box-wid2 {
    width: 60px;
  }
  .box-wid3 {
    width: 80px;
  }
  .text-r {
    text-align: right !important;
  }
  .label-sz {
    padding: 5px 10px !important;
  }
  .rap-select {
    padding-left: 4px;
  }
  .asset-dtl-font {
    margin: 0px 4px;
  }
  .asset-font {
    /* padding: 8px 15px; */
    display: inline-block;
    padding-top: 15px;
    padding-right: 37%;
  }
  .roc-green {
    color: rgb(112, 168, 0) !important;
  }
  .roc-red {
    color: rgb(255, 0, 122) !important;
  }
  #asset-table .btn-in {
    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: auto !important;
  }
  
  #asset-table .btn.active {
    color: rgb(245, 241, 14) !important;
  }
  .dropdown a:hover {
    background-color: #22252e;
    text-decoration: none !important;
  }
  .caret:before {
    content: "\25bc";
  }
  .caret.is-active:before {
    content: "\25b2";
  }
  span.caret {
    margin-left: 13px;
  }
  .table-ht {
    height: 250px;
    overflow-y: auto;
    margin-top: 0px;
    padding-left: 15px;
  }
  .table-ht thead th {
    position: sticky;
    top: 0;
  }
  .filter-srch .filterseacrh {
    width: 90px;
    /* background: transparent; */
    border-bottom: 1px solid #fff;
    box-shadow: none;
    color: #fff;
    padding-left: 27px;
    margin-left: 8px;
    border: 0;
    border-radius: 15px;
    background: #2c4142;


  }
  .filter-srch {
    position: relative;
    float: right;

  }
  .em-serach {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
  }
  .filter-srch ::placeholder {
    font-size: 14px;
    color: #fff;
    /* font-style: italic; */
    opacity: 1;
  }
  .filter-srch :-ms-input-placeholder {
    font-size: 14px;
    color: #fff;
    /* font-style: italic; */
  }
  .filter-srch ::-ms-input-placeholder {
    font-size: 14px;
    color: #fff;
    /* font-style: italic; */
  }
  .menu-stl{
    display: none;
  }
  .dropdown:hover .menu-stl{
    display: block;
  }

  .lidropdown{
    position: relative;
    right: -20px;
    top: 10px;
  }
  
  @media (max-width: 480px) {
    .table.table-sm.table-chart td {
      font-size: 10px !important;
    }
    #asset-table button {
      font-size: 10px !important;
    }
    .rap-select label.fiatcur,
    .wrapselect#selectval {
      font-size: 10px !important;
    }
    .wrapselect#selectval {
      padding-left: 0;
      width: 38px;
    }
    .lidropdown{
      position: relative;
      right: 38px;
      top: -3px;
    }
  }
  /* style for range slider start */
  
  /* .range {
    position: relative;
    width: 99%;
    height: 5px;
  }
  
  .range input {
    width: 96%;
    position: absolute;
    top: 2px;
    -webkit-appearance: none;
  }
  .range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
  }
  .range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
  }
  .range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
  }
  .range input:focus {
    background: none;
    outline: none;
  }
  .range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  .range-labels {
    margin: 18px 0px 0;
    padding: 0;
    list-style: none;
    width: 635px;
  }
  .range-labels li {
    position: relative;
    float: left;
    width: 16.66%;
    text-align: left;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
  }
  .range-labels li::before {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    content: "";
    width: 9px;
    height: 9px;
    background: #b2b2b2;
    border-radius: 50%;
  }
  .range-labels .active {
    color: #37adbf;
  }
  .range-labels .selectedli::before {
    color: #37adbf;
    background: #37adbf;
  }
  .range-labels .selectedli {
    color: #37adbf;
  }
  .range-labels .active.selectedli::before {
    display: none;
  } */
  
  /* style for range slider end */


  /* New range slider start */
  /* input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #03a9f4;
    border-radius: 25px;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #03a9f4;
  }
  .range-wrap{
    width: 500px;
    position: relative;
  }
  .range-value{
    position: absolute;
    top: -50%;
    margin-left: 15px;
  }
  .range-value span{
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #03a9f4;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
  }
  .range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #03a9f4;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  } */
 /*  .slider {
    width: 100%;
    margin: 16px auto;
  }
  
  input[type="range"] {
    -webkit-appearance: none !important;
    width: 100%;
    height: 15px;
    background-color: #7d818c;
    border: 1px solid #7d818c;
    border-radius: 10px;
    margin: auto;
    transition: all 0.3s ease;
  }
  input[type="range"]:hover {
    background-color: #7d818c;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 3px #fff;
    transition: all 0.5s ease;
  }
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #fff;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 1px #fff;
  }
  
  #rangevalue {
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px 0px;
    width: 100%;
    color: #579E81;
  } */
  
  /* New range slider end */

  /*  .header-button{
    display: block;
    position: absolute;
    z-index: 99999;
    left: -13px;
    margin-top: 4px;
  }
  .header-button li {
    display: inline-block;
    list-style: none;
    margin-right: 4px;
  } */

  
  .order-id-light {
    display: flex;
    justify-content: space-between;
    background-color: rgb(211, 221, 221);
    color: rgb(39, 51, 56);
    width: 96%;
  }
  .navbar-nav .dropdown-menu-light {
    padding-top: 2px;
  }
  .asset-font-light {
    font-size: 13px;
    /* padding: 8px 15px; */
    display: inline-block;
    padding-top: 15px;
    padding-right: 37%;
    /* color: white; */
  }
  .navbar-nav .dropdown-menu-light {
    padding-top: 2px;
  width: 250% !important;

  }
  .filter-srch .filterseacrh-light {
    width: 150px;
    background: #dedede;
    /* border-bottom: 1px solid rgb(17, 17, 17); */
    box-shadow: none;
    color: rgb(24, 23, 23);
    padding-left: 27px;
    margin-left: 8px;
    border: 0;
    border-radius: 15px;
  }
  .filter-srch .filterseacrh-light -webkit-input-placeholder {
    color: rgb(19, 18, 18);
  }
  .dropdown-menu-light {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    display:none;
    width: 203% !important;

  }

  table thead,
table tfoot {
  position: sticky !important;
}
table thead {
  inset-block-start: 0; /* "top" */
}
table tfoot {
  inset-block-end: 0; /* "bottom" */
}
th,thead{
  /* background: transparent; */
  /* background-color: #14223d !important;
  border: none; */
}
.table tbody + tbody {
  border-top: none;
}
.orderBookDropdown{
  position:absolute;
  width: 94%;
  padding-left: 20px;
  padding-right: 20px;
  right: 42px;
  top:-40px
  /* margin-bottom: 25px; */
}

ul#myDropdown {
  margin-top: -20px;
  margin-left: -23px;
}
.sp-highlow-light{
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
  position: relative;
  top: -4px;
  background: #d3dddd !important;
  padding: 5px 2px;
  margin-right: 8px;
  border-radius: 2px;
  width:100%;

}

@media only screen and (max-width: 600px) {
  .orderBookDropdown{
    position: absolute;
    width: 94%;
    padding-left: 20px;
    padding-right: 20px;
    right: 50px;
    top: 2px;
    z-index: 999999;
  }
  .resizable-widget {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 1px solid #131722;
    min-height: 286px !important;
    height: 726px !important;
    margin-top: 37px;
    
  }

  .tabe-responsive_right {
    overflow-y: scroll;
    margin-left: 34px;
}

.infoOrderBook{
  top: 36px;
  left:113px;
  position: absolute;
  z-index: 99;

}

.info-section {
  position: absolute;
  top: 66px;
  text-align: justify;
  background: #273338;
  color: #fff;
  z-index: 1050;
  width: 487px;
  right: 0;
  left: -92px;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}
@media only screen and (max-width:600px){
  .infoOrderBook{
    top: 36px;
    left:113px;
    position: absolute;
    z-index: 99;
  
  }
  
  .info-section {
    position: absolute;
    top: 66px;
    text-align: justify;
    background: #273338;
    color: #fff;
    z-index: 1050;
    width: 487px;
    right: 0;
    left: -92px;
    box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
  }
  
}


.table-ht {
  height: 250px;
  overflow-y: auto;
  margin-top: 0px;
  display: inline-flex;
}

ul#myDropdown {
  margin-top: -2px;
  margin-left: 28px;
}




}

.ticker-light{
  color: #474d57 !important;
}



/* @media (min-width: 1000px) {
  .downSearchbar{
    display: none !important;
  }
  .upSearchbar{
    display: block !important;
  }
}

@media (min-width: 1100px) {
  .downSearchbar{
    display: none !important;
  }
  .upSearchbar{
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .downSearchbar{
    display: none !important;
  }
  .upSearchbar{
    display: block !important;
  }
}

@media (min-width: 1300px) {
  .downSearchbar{
    display: none !important;
  }
  .upSearchbar{
    display: block !important;
  }
}




@media (min-width: 1350px) {

  .downSearchbar{
    display: none !important;
  }
  .upSearchbar{
    display: block !important;
  }

}  */

.swal2-popup.swal2-modal.swal2-icon-error.swal2-show {
  background: #474d57 !important;
}

