.form-control:active {
  border: 1px solid cornflowerblue;
}
.resizable-widget {
  min-height: 300px !important;
  /* border: 1px solid #131722; */
  border: none !important;

  overflow: hidden;
}
.btc-balance {
  background-color: #181d2b !important;
}
.stoploss-component{
  /* background: #181d2b!important; */
  background: rgb(19, 23, 34);
  position: relative;
  /* top: -29px; */
}
.text-white {
  color: #96979a !important;
}
.bg_new_class {
  padding-bottom: 33px !important;
}
.text-box-row {
  margin-top: 0.4rem;
}
.asset-left-pad {
  padding-right: 0.3rem !important;
}
.asset-right-pad {
  padding-left: 0.3rem !important;
}
.deposit-withdraw-btn {
  width: 89px;
}
.balance_assets .font-sm {
  margin-right: 10px;
  margin-bottom: 10px;
}
.tab-pan-wrap {
  position: relative;
}
.flimt_span{
  top: -33px;
}
.balance_assets {
  position: absolute;
  right: 37px;
  top: -41px;
}
.flimit_span{
  top: -33px !important;
}

.balance_assets .deposit-withdraw-btn {
  width: 57px !important;
}
.deposit-withdraw-btn .diposit-hover {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0px;
  left: -12px;
  -moz-transition: all 600ms linear;
  -webkit-transition: all 600ms linear;
  -ms-transition: all 600ms linear;
  -o-transition: all 600ms linear;
  transition: all 600ms linear;
}
.deposit-withdraw-btn {
  position: relative;
}
.deposit-withdraw-btn:hover .diposit-hover {
  opacity: 1;
  visibility: visible;
  top: -18px;
  left: -12px;
}
.resizable-widget {
  min-height: auto;
  height: auto !important;
}
.form-row {
  margin-bottom: 2px !important;
}
.stoploss-from-control{
  color: #fff;
   background-color: #22252e;
    border: 1px solid #22252e;
}
.stoploss-from-control-light{
  color: black !important;
   
}
.text-red {
  color: #ea4704 !important;
  font-size: 10px;
}
.market-pills .nav-item a.nav-link.active {
    padding-bottom: 3px;
}

.slider {
  width: 100%;
  margin: 16px auto;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 15px;
  background-color: #7d818c;
  border: 1px solid #7d818c;
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}
input[type="range"]:hover {
  background-color: #7d818c;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #fff;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #fff;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #fff;
}

#rangevalue {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  color: #579E81;
}

/* New range slider end */

 .header-button{
  display: block;
  position: absolute;
  z-index: 99999;
  /* left: 372px; */
  margin-top: 52px;
  right: 16px;
}
.header-button li {
  display: inline-block;
  list-style: none;
  margin-right: 4px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
text-left-light{
  color:#000 !important
}
.dark-modal{
  background: #3d3e42 !important;
   color: #fff !important;
}
.grey-texts{
  color:#b2b4b9;
}
.white-texts{
  color: #fff;
}
.leverageBox-dark{
  background: #717782;
  border: #717782;
  color: #fff
}
.leverageBox-light{
  background: #717782;
  border: #717782;
  color: #fff;
}

#customRange3{
  width: 88%;
  margin-top: 10px;
  margin-left: -14px;
  
}
#customRange3 {
  -webkit-appearance: none;
  background-color: #282e40;
  height: 8px;
  overflow: hidden;
  border-radius: 2rem;
  cursor: pointer;
  border: none !important;

}

#customRange3::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}

#customRange3::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #007bff;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #007bff;
  cursor: pointer;
  height: 8px;
  width: 8px;
  border: 0;
}

#customRange3::-moz-range-thumb {
  background: #007bff;
  border-radius: 10%;
  box-shadow: -1010px 0 0 1000px #007bff;
  cursor: pointer;
  height: 8px;
  width: 8px;
  border: 0;
}

#customRange3::-moz-range-track {
  background-color: #282e40;
}
#customRange3::-moz-range-progress {
  background-color: #007bff;
  height: 8px
}
#customRange3::-ms-fill-upper {
  background-color: #282e40;
}
#customRange3::-ms-fill-lower {
  background-color: #007bff;
}

.changeBackgroundSlider{
  background-color: #007bff !important;

}
.leftMargin{
  margin-left: -15px;
}
@media (min-width: 1100px) {
  #customRange3{
    width: 78%;
    
  }
  

}

@media (min-width: 1200px) {
  #customRange3{
    width: 79%;
    
  }
  

}

@media (min-width: 1300px) {
  #customRange3{
    width: 80%;
    
  }
  

}
@media (min-width: 1400px) {
  #customRange3{
    width: 82%;
    
  }
  

}
@media (min-width: 1500px) {
  #customRange3{
    width: 83%;
    
  }
  

}
@media (min-width: 1600px) {
  #customRange3{
    width: 87%;
    
  }
  

}
@media (min-width: 1700px) {
  #customRange3{
    width: 88%;
    
  }
  

}
@media (min-width: 1800px) {
  #customRange3{
    width: 89%;
    
  }
  

}
@media (min-width: 1900px) {
  #customRange3{
    width: 87%;
    
  }
  

}
@media (min-width: 2000px) {
  #customRange3{
    width: 88%;
    
  }
  

}
@media (min-width: 2100px) {
  #customRange3{
    width: 88%;
    
  }
  

}
#customRange4{
  width: 88%;
  margin-top: 10px;
  margin-left: -14px;
  
}
#customRange4 {
  -webkit-appearance: none;
  background-color: #282e40;
  height: 8px;
  overflow: hidden;
  border-radius: 2rem;
  cursor: pointer;
  border: none !important;

}

#customRange4::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}

#customRange4::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #007bff;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #007bff;
  cursor: pointer;
  height: 8px;
  width: 8px;
  border: 0;
}

#customRange4::-moz-range-thumb {
  background: #007bff;
  border-radius: 10%;
  box-shadow: -1010px 0 0 1000px #007bff;
  cursor: pointer;
  height: 8px;
  width: 8px;
  border: 0;
}

#customRange4::-moz-range-track {
  background-color: #282e40;
}
#customRange4::-moz-range-progress {
  background-color: #007bff;
  height: 8px
}
#customRange4::-ms-fill-upper {
  background-color: #282e40;
}
#customRange4::-ms-fill-lower {
  background-color: #007bff;
}
@media (min-width: 1100px) {
  #customRange4{
    width: 78%;
    
  }
  

}

@media (min-width: 1200px) {
  #customRange4{
    width: 79%;
    
  }
  

}

@media (min-width: 1300px) {
  #customRange4{
    width: 80%;
    
  }
  

}
@media (min-width: 1400px) {
  #customRange4{
    width: 82%;
    
  }
  

}
@media (min-width: 1500px) {
  #customRange4{
    width: 83%;
    
  }
  

}
@media (min-width: 1600px) {
  #customRange4{
    width: 87%;
    
  }
  

}
@media (min-width: 1700px) {
  #customRange4{
    width: 88%;
    
  }
  

}
@media (min-width: 1800px) {
  #customRange4{
    width: 89%;
    
  }
  

}
@media (min-width: 1900px) {
  #customRange4{
    width: 87%;
    
  }
  

}
@media (min-width: 2000px) {
  #customRange4{
    width: 88%;
    
  }
  

}
@media (min-width: 2100px) {
  #customRange4{
    width: 88%;
    
  }
  

}
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(19 23 34 / 0%);
  z-index: 10000000;

}
.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  z-index: 10000000;
}
.style-2 .loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
  z-index: 10000000;

}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0);
  }
  100% {
      -webkit-transform: rotate(-360deg);
  }
}