@keyframes invalid {
    from { background-color: red; }
    to { background-color: inherit; }
  }
  .invalid {
    -webkit-animation: invalid 1s infinite; /* Safari 4+ */
    -moz-animation:    invalid 1s infinite; /* Fx 5+ */
    -o-animation:      invalid 1s infinite; /* Opera 12+ */
    animation:         invalid 1s infinite; /* IE 10+ */
  }
  .resizable-widget{
    /* border:1px solid #131722; */
    border: none !important;

    min-height: 286px !important;
    overflow: hidden;
   
}
.resizable-widget{min-height:auto;height:360px !important;}
.scrollable {
  max-height: 17em!important;
}
@media (max-width:767px){
  .table{
width: 600px;
  }
}

.trade-component{
  /* background: #181d2b!important; */
  background: rgb(19, 23, 34);
}
.trade-table thead th {
  position: sticky;
  top: 0;
}
.fee_btn{
  position: absolute;
  right: 21px;
  top: 14px;
  cursor: pointer;
}
th,thead{
  /* background: transparent; */
  /* background-color: #14223d !important;
  border: none; */
  font-size: 16px;
}