<div id="myblnc">
    <select style="display: none;" (change)="test($event)" name="walletblnc" id="walletblnc">
        <option value="d">1d</option>
        <option selected value="1m">1m</option>
        <option value="3m">3m</option>
        <option value="6m">6m</option>
        <option value="1y">1y</option>
        <!-- <option value="5y">5y</option> -->
    </select>
<div id="chart">
</div>
</div>


<!-- <apx-chart
  [series]="series"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart> -->

